[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
django = "*"
pillow = "*"
graphene-django = "*"
django-filter = "*"
django-graphql-jwt = "*"
django-admin-object-actions = "*"
gunicorn = "*"
whitenoise = "*"
python-decouple ="*"
dj-database-url = "*"
psycopg2-binary = "*"
psycopg2 = "*"
[dev-packages]
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
